<h1>Wig details</h1>
<%=@wig.color%>
<%=@wig.length%>
<%=@wig.owner_id%>

  <%= link_to "Edit this wig", edit_wig_path(@wig.id), class: "btn btn-primary" %>
  <%= link_to "Back to all wigs", wigs_path, class: "btn btn-primary" %>
  <%= link_to "Rent this wig", new_wig_wig_rental_path(@wig.id), class: "btn btn-primary" %>
