<div class="login-body">
   <div class="container-login right-panel-active" id="login">
    <div class="form-container sign-up-container ">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <h2><strong>Create an account</strong></h2>
        <span> Insert an email and define a password</span>
        <div class="hidden-label">
          <%= f.input :email,
                  required: true,
                  autofocuts: true,
                  input_html: { autocomplete: "email", placeholder: "Email" }%>
          <%= f.input :password,
                  required: true,
                  hint: ("should be at least #{@minimum_password_length}  characters" if @minimum_password_length),
                  input_html: { autocomplete: "new-password", placeholder: "Password" } %>
        <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password", placeholder: "Confirm your password" } %>
        <%= f.button :submit, "Create an account", class: "loglog btn btn-success" %>
        </div>
      <% end %>

    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left" id="reglog">
        <br>
          <h1>Welcome !</h1>
          <p>Register here to rent the best wigs!</p><br>
          <p>Do you already have an account?</p><br>
          <%- if controller_name != 'sessions' %>
            <%= link_to "Log in", new_session_path(resource_name), class: "ghost" %><br />
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
