<h1>Rent a wig</h1>
<div class="container-fluid bg-dark" style="height: 100%; ">
  <div class="container-fluid d-flex justify-content-center align-items-center flex-wrap">
    <% @wigs.each do |wig| %>
    <%= link_to new_user_session_path, data:{}, class:"text-decoration-none text-dark" do%>
    <div class="card mx-2 my-3 d-flex justify-content-center" style="width: 15rem;  border-radius: 10px;">
      <div class="card-header">
        Wig
      </div>
      <div class="card-body">
        <h5 class="card-title"><strong> id:<%= wig.id %></strong></h5>
        <h5 class="card-title"><strong> color:<%= wig.color %></strong></h5>
        <h5 class="card-title"><strong> length:<%= wig.length %>cm</strong></h5>
      </div>
  </div>
  <%end%>
  <%end%>
</div>
<br>

<div class= "card m-3 bg-dark">
   <div  class="container-fluid m-2 d-flex justify-content-center align-items-center" style = "height: 7vh;">
    <%= link_to "Add new wig", new_wig_path, class: "btn btn-primary col-2" %>
  </div>
</div>
