<style>
#card-div:hover{
  opacity: 0.9;
}

.card-body{
  border-top-left-radius: 100px;
}
.wig-card:active{
  box-shadow: 0 0 30px 0 crimson,
              0 0 30px 0 crimson,
              0 0 10px 0 crimson inset;
}
</style>
<div class="container-fluid bg-light" style="height: 100%; ">
  </div class = "d-flex justify-content-center ">
    <h1 class = "d-flex justify-content-center ">Rent a wig</h1>
  </div>
  <div class = "d-flex justify-content-between align-items-center">
    <div>
      <div class="container-fluid m-2 d-flex justify-content-center align-items-center order-1" style = "height:10vh;">
          <%= link_to  new_wig_path, title: "add a new wig", class: "btn btn-primary rounded-circle fa-sharp fa-solid fa-plus",data:{toggle:"tooltip", placment: "top"} do %>
          <%end%>
      </div>
    </div>
  </div>

  <div class="container-fluid d-flex justify-content-center align-items-center flex-wrap bg-danger">
    <% @wigs.each do |wig| %>
        <div id = "card-div" class="card mx-5 my-3 d-flex justify-content-center shadow-lg mb-5 bg-white " style="width: 16rem;  border-radius: 10px; ">
          <%= link_to wig_path(wig.id), data:{}, class:"wig-card text-decoration-none text-dark", title: "show this wig" do%>
          <div class="card-header d-flex justify-content-center ">
            wig: <%= wig.id %>
          </div>
          <div class="card-body">
          <img src="https://images.unsplash.com/photo-1595888433198-fc3fba4d48e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" class="card-img-top rounded" alt="...">
          <br>
          <br>
            <h6 class="card-title font-weight-light"><strong><% %></strong></h6>
            <h5 class="card-title font-weight-light"> color: <%= wig.color %></h5>
            <h5 class="card-title"> length: <%= wig.length %>cm</h5>
            <h5 class="card-title"> price: PRICE!!!<%= %>$</h5>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
  <br>
</div>


    <%# <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> %>
