<%# <div class="container-fluid bg-light" style="height: 100%; ">
</div class = "d-flex justify-content-center "> %>
<div class="d-flex justify-content-center add-wig">
  <h1 class = "d-flex justify-content-center">Add a wig</h1>
  <%= link_to  new_wig_path, title: "add a new wig", class: "btn btn fa-sharp fa-solid fa-plus big-button",data:{toggle:"tooltip", placment: "top"} do %>
  <%end%>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center flex-wrap bigboy">
  <% @wigs.each do |wig| %>
    <div id = "card-div" class="card mx-5 my-3 d-flex justify-content-center shadow-lg mb-5 bg-white " style="width: 16rem;">
      <%= link_to wig_path(wig.id), data:{}, class:"wig-card text-decoration-none text-dark", title: "show this wig" do%>
        <div class="card-body fullcard">
          <div class="card-header d-flex justify-content-center">
           <h3 class="titletext"> <%= wig.title %> <hr class="solid"> </h3>

          </div>
          <%= cl_image_tag wig.photo.key, height: 300, width: 400, crop: :fill,  class:"wig-image" %>
          <div class="middletextbox">
            <div class="text">See details</div>
          </div>
          <br>
          <br>
          <h5 class="card-title font-weight-light" > <i class="fa-solid fa-paintbrush" style="color: #00060f;"></i>  <%= wig.color %></h5>
          <h5 class="card-title"> <i class="fa-solid fa-ruler-vertical" style="color: #000000;"></i> <%= wig.length %>cm</h5>
          <h5 class="card-title"> <i class="fa-solid fa-tag" style="color: #000000;"></i> <%= wig.price %>$</h5>
        </div>
      </div>
    <%end%>
  <%end%>
</div>
