<div class="d-flex justify-content-center add-wig">
  <h1 class = "d-flex justify-content-center">My wigs</h1>
  <%= link_to  new_wig_path, title: "add a new wig", class: "btn btn fa-sharp fa-solid fa-plus big-button",data:{toggle:"tooltip", placment: "top"} do %>
  <%end%>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center flex-wrap bigboy">
  <% @wigs.each do |wig| %>
    <div id = "card-div" class="card mx-5 my-3 d-flex justify-content-center shadow-lg mb-5 bg-white " style="width: 16rem;">
      <%= link_to wig_path(wig.id), data:{}, class:"wig-card text-decoration-none text-dark", title: "show this wig" do%>
        <div class="card-body fullcard">
          <div class="card-header d-flex justify-content-center">
            <h3 class="titletext"> <%= wig.title %> <hr class="solid"> </h3>
          </div>
          <% if wig.photo.key? %>
            <%= cl_image_tag wig.photo.key, height: 300, width: 400, crop: :fill,  class:"wig-image" %>
          <% else %>
            <%= image_tag "default-photo.jpg", class:"wig-image" %>
          <% end %>          <div class="middletextbox">
            <div class="text">See details</div>
          </div>
          <br>
          <br>
          <h5 class="card-title font-weight-light d-flex col-4 justify-content-between">
            <i class="fa-solid fa-paintbrush" style="color: #00060f;"></i>
            <button class="product-detail-color-selector__color-button" title = <%=wig.color%> style="background-color: <%=wig.color_code%>"></button>
          </h5>          <h5 class="card-title"> <i class="fa-solid fa-ruler-vertical" style="color: #000000;"></i> <%= wig.length %>cm</h5>
          <h5 class="card-title"> <i class="fa-solid fa-tag" style="color: #000000;"></i> <%= wig.price %>$</h5>
          <% @rentals.each do |rental|%>
            <% if rental.wig_id == wig.id %>
              <div style="color: rgb(91, 121, 120)">
                <%= "Rented from"%> <strong><%="#{rental.rental_start.strftime("#{rental.rental_start.day.ordinalize} of %B %Y")}"%></strong>
                <%= "until"%> <strong><%="#{rental.rental_start.strftime("#{rental.rental_end.day.ordinalize} of %B %Y")}"%></strong>
              </div>
            <% end %>
          <% end %>
          <div class ="d-flex justify-content-between " style = "margin-left: -130px;">
            <%= link_to "Edit", edit_wig_path(wig.id), class: "order-1 btn btn-success text-light" %>
            <%= link_to "", wig_path(wig.id),  class: "order-3 btn btn-outline-danger fa-solid fa-trash-can pt-2", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      </div>
    <%end%>
  <%end%>
</div>
