<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class= "card m-3 bg-gray">
<h1>Sign in</h1>
<%= simple_form_for(@wig) do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.submit :class => "btn btn-success btn-mini" %>
<% end %>
</div>


<h1>Rent a wig</h1>
  <% @wigs.each do |wig| %>
<ul>
 <li>
  <%= wig.id %>
  </li>
  <li>
  <%= wig.color %>
  </li>
  <li>
  <%= wig.length %>
  </li>
</ul>

<%end%>
