

<div class="container-fluid d-flex justify-content-center align-items-center flex-wrap bg-secondary" style=" margin-top: 78px;">
  <% @rentals.each do |rental| %>
    <div id = "card-div" class="card mx-5 my-3 d-flex justify-content-center shadow-lg bg-white " style="width: 16rem;">
      <%= link_to wig_path(rental.id), data:{}, class:"wig-card text-decoration-none text-dark", title: "show this wig" do%>
        <div class="card-header d-flex justify-content-center ">
          wig: <%= rental.id %>
        </div>
        <div class="card-body">
          <img src="https://images.unsplash.com/photo-1595888433198-fc3fba4d48e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" class="wig-image" alt="...">
          <br>
          <br>
          <h6 class="card-title font-weight-light"><strong><% %></strong></h6>
            <h5 class="card-title font-weight-light"> Start: <%= rental.rental_start %></h5>
            <h5 class="card-title"> End: <%= rental.rental_end %></h5>
            <% total_days = ((rental.rental_end) - (rental.rental_start)).to_i  %>
            <h5 class="card-title"> Total days rented <%= total_days %></h5
           <%= link_to "Edit this rental", edit_wig_path(rental.wig_id), class: "btn btn-dark" %>
        </div>
      </div>
    <%end%>
  <%end%>
